	<section class="expertise" id="expertise">
		
		<a class="triangle sm-show" href="#expertise"></a>

		<div class="clearfix small-logo sm-show">
			<div class="sm-col sm-col-8 mb4">
				<img src="{{ "/img/atarau-logo.svg" | prepend: site.baseurl | prepend: site.url }}" width="90" height="12" alt="logo">
			</div>
		</div>

		<div class="clearfix  mxn2">
			<div class="sm-col sm-col-8 px2">
				<h1 class="mb4 mt0">Atarau is a technology company dedicated to socially-oriented enterprises. Our goal is to promote positive social change through data-centric innovation.</h1>
			</div>
		</div>

		<div class="clearfix mxn2">
			<div class="sm-col md-col-8 px2">
				<h3 class="mb3 mt0">We're an international collective of analysts, hardware engineers, developers and designers with expertise in all phases of the data lifecycle.</h3>
			</div>
		</div>

		<div class="clearfix mxn2">
			<div class="sm-col sm-col-12 md-col-6">
				<div class="col col-6 px2">
					<img src="{{ "/img/collection.svg" | prepend: site.baseurl | prepend: site.url }}" width="100"  alt="collection icon">
					<h3>Creation and Collection</h3>
					<p>Connected devices and real world data</p>
				</div>
				<div class="col col-6 px2">
					<img src="{{ "/img/filtering.svg" | prepend: site.baseurl | prepend: site.url }}" width="100" alt="processing icon">
					<h3>Processing and Optimisation</h3>
					<p>Data filtering, structure and storage</p>
				</div>
			</div>
			<div class="sm-col sm-col-12 md-col-6">
				<div class="col col-6 px2">
					<img src="{{ "/img/forecasting.svg" | prepend: site.baseurl | prepend: site.url }}" width="100"  alt="forecasting icon">
					<h3>Analysis and Forecasting</h3>
					<p>Analytical, machine learning and predictive modelling techniques</p>
				</div>
				<div class="col col-6 px2">
					<img src="{{ "/img/reporting.svg" | prepend: site.baseurl | prepend: site.url }}" width="100"  alt="reporting icon">
					<h3>Reporting and Visualisation</h3>
					<p>Effective communication of complex information</p>
				</div>
			</div>
		</div>

		<div class="clearfix mxn2">
			<div class="sm-col sm-col-12 px2">
				<h3>Want to know more? <a href="mailto:{{site.email}}">Contact us</a></h3>
			</div>
		</div>

	</section>
