	<section class="expertise" id="expertise">
		
		<a class="triangle sm-show" href="#expertise"></a>

		<div class="clearfix small-logo sm-show">
			<div class="sm-col sm-col-8 mb4">
				<img src="{{ "/img/atarau-logo.svg" | prepend: site.baseurl | prepend: site.url }}" width="90" height="12" alt="logo">
			</div>
		</div>

		<div class="clearfix  mxn2">
			<div class="sm-col sm-col-8 px2">
				<h1 class="mb4 mt0">Atarau ist ein IT-Unternehmen, das sich auf gemeinnützige Projekte spezialisiert. Unser Ziel ist es, positiven Wandel durch den Einsatz von innovativen Datentechnologien voranzutreiben.</h1>
			</div>
		</div>

		<div class="clearfix mxn2">
			<div class="sm-col md-col-8 px2">
				<h3 class="mb3 mt0">Wir sind ein internationales Team, das sich aus Analysten, Designern, Software- und Hardwareentwicklern mit Expertenkenntnissen in allen Phasen des Data-Lifecycles zusammensetzt.</h3>
			</div>
		</div>

		<div class="clearfix mxn2">
			<div class="sm-col sm-col-12 md-col-6">
				<div class="col col-6 px2">
					<img src="{{ "/img/collection.svg" | prepend: site.baseurl | prepend: site.url }}" width="100"  alt="collection icon">
					<h3>Erfassung und Anbindung</h3>
					<p>Erfassen externer Datenquellen, die virtuelle und reale Systeme detailliert beschreiben</p>
				</div>
				<div class="col col-6 px2">
					<img src="{{ "/img/filtering.svg" | prepend: site.baseurl | prepend: site.url }}" width="100" alt="processing icon">
					<h3>Verarbeitung</h3>
					<p>Verarbeitung, Umwandlung, Optimierung und Einspielen von struktierten und unstrukturierten Daten</p>
				</div>
			</div>
			<div class="sm-col sm-col-12 md-col-6">
				<div class="col col-6 px2">
					<img src="{{ "/img/forecasting.svg" | prepend: site.baseurl | prepend: site.url }}" width="100"  alt="forecasting icon">
					<h3>Analyse und Prognose</h3>
					<p>Verschiedene Analyseverfahren u.a. automatisiertes Lernen, Mustererkennung und prädiktive Modelle</p>
				</div>
				<div class="col col-6 px2">
					<img src="{{ "/img/reporting.svg" | prepend: site.baseurl | prepend: site.url }}" width="100"  alt="reporting icon">
					<h3>Visualisierung</h3>
					<p>Effektives Kommunizieren, Darstellen und Berichten von Informationen und Erkenntnissen</p>
				</div>
			</div>
		</div>

		<div class="clearfix mxn2">
			<div class="sm-col sm-col-12 px2">
				<h3>Möchten Sie mehr wissen? <a href="mailto:{{site.email}}">Kontaktieren Sie uns</a></h3>
			</div>
		</div>

	</section>
