	<section class="external">

		<div class="clearfix">
			<div class="sm-col sm-col-8">
				<h1 class="mb0 mt0">Atarau im Internet</h1>
			</div>
		</div>

		<div class="clearfix mxn2">
			<div class="sm-col sm-col-2  md-col-4 px2">
				<h3 class="mb2">Soziale Medien</h3>
				<ul>
					<li><a href="{{site.twitter_home}}">Twitter</a></li>
					<li><a href="{{site.linkedin_home}}">LinkedIn</a></li>
					<li><a href="{{site.xing_home}}">Xing</a></li>
				</ul>
			</div>
			<div class="sm-col sm-col-5  md-col-4 px2">
				<h3 class="mb2">Blog und Artikel</h3>
				<ul>
					<li><a href="">Post One</a></li>
					<li><a href="">Post Two</a></li>
					<li><a href="">Post Three</a></li>
				</ul>
				<p><a href="{{site.medium_home}}">Mehr</a></p>				
			</div>
			<div class="sm-col sm-col-5 md-col-4 px2">
				<h3 class="mb2">Github Projekte</h3>
				<ul>
					<li><a href="{{site.github_home}}/datascience">Data Science</a></li>
					<li><a href="{{site.github_home}}/devices">Devices</a></li>
					<li><a href="{{site.github_home}}/visualization">Visualisierung</a></li>
				</ul>
				<p><a href="{{site.github_home}}">Alle Projekte</a></p>
			</div>
		</div>
		<div class="clearfix">
			<div class="sm-col sm-col-12">
				<h3>Interessiert? <a href="mailto:{{site.email}}">Kontaktieren Sie uns</a></h3>
			</div>
		</div>
	</section>