	<section class="external">

		<div class="clearfix">
			<div class="sm-col sm-col-8">
				<h1 class="mb0 mt0">Atarau on the web</h1>
			</div>
		</div>

		<div class="clearfix mxn2">
			<div class="sm-col sm-col-2  md-col-4 px2">
				<h3 class="mb2">Social</h3>
				<ul>
					<li><a href="{{site.twitter_home}}">Twitter</a></li>
					<li><a href="{{site.linkedin_home}}">LinkedIn</a></li>
					<li><a href="{{site.xing_home}}">Xing</a></li>
				</ul>
			</div>
			<div class="sm-col sm-col-5  md-col-4 px2">
				<h3 class="mb2">Posts on Medium</h3>
				<ul>
					<li><a href="">Post One</a></li>
					<li><a href="">Post Two</a></li>
					<li><a href="">Post Three</a></li>
				</ul>
				<p><a href="{{site.medium_home}}">See all</a></p>
			</div>
			<div class="sm-col sm-col-5 md-col-4 px2">
				<h3 class="mb2">Github projects</h3>
				<ul>
					<li><a href="{{site.github_home}}/datascience">Data Science</a></li>
					<li><a href="{{site.github_home}}/devices">Devices</a></li>
					<li><a href="{{site.github_home}}/visualization">Visualization</a></li>
				</ul>
				<p><a href="{{site.github_home}}">See all</a></p>
			</div>
		</div>
		<div class="clearfix">
			<div class="sm-col sm-col-12">
				<h3>Want to know more? <a href="mailto:{{site.email}}">Contact us</a></h3>
			</div>
		</div>
	</section>