	<section class="services">

		<div class="clearfix">
			<div class="sm-col sm-col-8">
				<h1 class="m0">Atarau bietet folgende Servicemodelle: </h1>			
			</div>
		</div>

		<div class="clearfix mxn2">
			<div class="sm-col md-col-4 px2">
				<h2>Projekt Partnerschaften</h2>
				<p>Wir übernehmen die komplette technische Verantwortung für gemeinsame Projekte mit ausgewählte Partnern: NGOs, NPOs, IGOs und staatlichen Organisationen.</p>
			</div>
			<div class="sm-col md-col-4 px2">
				<h2>Hausinterne Projekte</h2>
				<p>Atarau betreibt einige sozial-orientierte Entwicklungsprojekte hausintern. Diese Projekte werden durch staatliche Unterstützung, externe Fördergelder und die 'open source community' finanziert bzw. unterstützt.</p>
			</div>
			<div class="sm-col md-col-4 px2">
				<h2>Beratung</h2>
				<p>Wir beraten und unterstützen externe Organisationen beim Gestalten, Entwerfen und der Entwicklung innovativer Daten-orientierter Lösungen.</p>
			</div>
		</div>
		
	</section>